/*
======================================
  * CSS TABLE CONTENT *  
======================================
1. HEADER
2. HEADER TOPBAR
3. HEADER LOGO
4. MENU BAR
5. MEGA MENU
6. HEADER TRANSPARENT
7. MENU ICON
8. PAGE BANNER
9. BLOG
10. TESTIMONIALS
11. COUNTERUP
12. FOOTER
13. INNER CONTENT CSS
======================================
  * END TABLE CONTENT *  
======================================
*/

/*=================================
	1. HEADER
=================================*/


.color-transition:hover {
    color: red/* Run the animation over 2 seconds */
}

@keyframes colorChange {
    from {
        color: white; /* Start color: white */
    }
    to {
        color: red; /* End color: red */
    }
}

.bra li {
	margin-bottom: 300px;
}

.full-width {
	width: 100%;
  }
.bg-fix {
    background-attachment: fixed;
	background-size: cover;
}
.sticky-top {
	top:100px;
}
/* .header {
    position: relative;
    z-index: 99999;
} */
.header ul,
.header ol {
    margin-bottom: 0;
}


.nav-search-bar .form-control::-moz-placeholder {
    color: #000;
}
.nav-search-bar .form-control:-moz-placeholder {
    color: #000;
}
.nav-search-bar .form-control:-ms-input-placeholder {
    color: #000;
}
.nav-search-bar .form-control::-webkit-input-placeholder {
    color: #000;
}
.nav-search-bar form span {
    position: absolute;
    right: 15px;
    top: 50%;
    margin: -15px 0;
    height: 25px;
    font-size: 20px;
    cursor: pointer;
	color: #000;
}
.nav-search-bar > span {
	position: absolute;
	right: 15px;
	top: 15px;
	height: 25px;
	font-size: 20px;
	cursor: pointer;
	color: #000;
}
.header-lang-bx .dropdown-menu{
	top: 10px !important;
	right: 0;
	left: auto !important;
}
.header-lang-bx ul li{
	margin:0 !important;
}
.header-lang-bx .flag:after{
	content: "";
	width: 20px;
	height: 12px;
	display: inline-block;
	background-size: cover;
	background-position: center;
	margin-top: 0px;
	margin-right: 2px;
}

/*=================================
	2. HEADER TOPBAR
=================================*/
.top-bar {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    color: #000;
    padding: 11px 0;
}
.topbar-left {
    float: left;
}
.topbar-right {
    float: right;
}
.topbar-center,
.topbar-left,
.topbar-right {
    padding-left: 15px;
    padding-right: 15px;
}
.topbar-left ul li,
.topbar-right ul li{
	display:inline-block;
	position:relative;
}
.topbar-left ul li a,
.topbar-right ul li a{
	color:#000;
}
.topbar-left ul,
.topbar-right ul{
	margin:0;
	padding:0;
	list-style:none;
	font-family:rubik;
	font-size:14px;
}
.topbar-left ul li{
	padding-right:10px;
	margin-right:10px;
}
.topbar-right ul li{
	padding-left:10px;
	margin-left:10px;
}
.topbar-left ul li i{
	margin-right:5px;	
}
.search-btn:after,
.topbar-left ul li:after,
.topbar-right ul li:after{
	position: absolute;
    width: 1px;
    height: 20px;
    background-color: #000;
    right: 0;
    content: "";
    top: 2px;
    opacity: 0.1;
}
.topbar-right ul li:after{
	right:auto;
	left:0;
}
.topbar-right ul li:first-child:after,
.topbar-left ul li:last-child:after{
	content:none;
}
.header-lang-bx .btn:focus,
.header-lang-bx .btn:hover,
.header-lang-bx .btn{
	border:0 !important;
}
.header-lang-bx .btn{
	padding:0 10px 0px 0 !important;
	height: 18px;
	color:#000;
	font-family:rubik;
	font-size: 14px;
}
.header-lang-bx .btn:hover{
	color:#000;
}
.header-lang-bx.bootstrap-select.btn-group .dropdown-toggle .caret{
	right:0;
	top:5px;
}
.header-lang-bx .btn .fa-caret-down:before{
	content:"\f107";
}
@media only screen and (max-width: 991px) {
	body {
		height: 100%;
		margin: 0;
		padding: 0;
		background-color: rebeccapurple;
	}
	.topbar-right {
		padding-left: 0;
		padding-right: 15px;
	}
	.topbar-left{
		padding-left: 15px;
		padding-right: 0;
	}
}
@media only screen and (max-width: 767px) {
    .top-bar [class*="col-"] {
        width: 100%;
        text-align: right;
        padding: 10px 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .top-bar [class*="col-"]:last-child {
        border-bottom: none;
    }
	.top-bar {
		padding:5px 0;
	}
	.topbar-center,
	.topbar-left,
	.topbar-right {
		display:black;
		width:100%;
		text-align:center;
		padding:3px 15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.topbar-left ul li{
		padding:0 5px;
	}
}
/*=================================
	3. HEADER LOGO
=================================*/
.menu-logo {
    display: table;
    float: left;
    vertical-align: middle;
    padding: 0;
    color: #EFBB20;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 140px;
    height: 80px;
    position: relative;
    z-index: 9;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
	padding-right:20px;
}
.menu-logo > a{
    display: table-cell;
    vertical-align: middle;
}
.menu-logo img{
    max-height: 60px;
	width: auto;
	max-width: 140px;
	
}
.menu-logo span{
    font-size: 20px;
    color: #EFBB20;
    letter-spacing: 20px;
}
.is-fixed .menu-logo{
    height: 70px;
    width: 140px;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
}
@media only screen and (max-width: 767px) {
    .menu-logo,
	.is-fixed .menu-logo{
        width: 100px;
		max-width: 100px;
		height:50px;
    }
	.menu-logo img{
		max-width: 100px;
	}
    .is-fixed .menu-logo a img{
        vertical-align: sub;
    }
	.header .navbar-toggler,
	.header .is-fixed .navbar-toggler{
		 margin: 18px 0 14px 15px;
	}
	.header .secondary-menu,
	.header .is-fixed .secondary-menu{
		padding: 11px 0;
	}
}
/*=================================
	4. MENU BAR
=================================*/
.menu-bar {
    background: #FFFFFF;
    width: 100%;
    position: relative;
}
.navbar-toggler {
    border: 0 solid #efbb20;
    font-size: 16px;
    line-height: 24px;
    margin: 32px 0 30px 15px;
    padding: 0;
	float:right;
}
.navbar-toggler span {
    background: #000;
}
.is-fixed .navbar-toggler {
    margin:28px 0 20px 15px;
}
.menu-links {
    position: relative;
    padding: 0;
}
.menu-links .nav {
    float: right;
}
.menu-links .nav i {
    font-size: 9px;
    margin-left: 3px;
    margin-top: -3px;
    vertical-align: middle;
}
.menu-links .nav > li {
    margin: 0px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
	font-family: Rubik;
}
.menu-links .nav > li > a {
    border-radius: 0px;
    color: #000;
    font-size: 15px;
    padding: 30px 12px;
    cursor: pointer;
	font-weight: 400;
	display: inline-block;
}
.menu-links .nav > li > a:hover {
    background-color: transparent;
    color: #efbb20;
}
.menu-links .nav > li > a:active,
.menu-links .nav > li > a:focus {
    background-color: transparent;
}
.menu-links .nav > li.active > a,
.menu-links .nav > li.current-menu-item > a {
    background-color: transparent;
    color: #EFBB20;
}
.menu-links .nav > li:hover > a {
    color: #EFBB20;
}
.menu-links .nav > li:hover > a:after {
    content: "";
    width: 10px;
    height: 10px;
    background: #fff;
    top: 85%;
    position: absolute;
    left: 30px;
    transform: rotate(45deg);
    z-index: 11;
}
.menu-links .nav > li:hover > .sub-menu,
.menu-links .nav > li:hover > .mega-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.menu-links .nav > li > .sub-menu,
.menu-links .nav > li > .mega-menu {
	box-shadow:0 0 40px rgba(0, 0, 0, 0.2);
}
.menu-links .nav > li .sub-menu {
    background-color: #ffffff;
    border: 1px solid #f4f4f4;
    display: block;
    left: 0;
    list-style: none;
    opacity: 0;
    padding: 10px 0;
    position: absolute;
    visibility: hidden;
    width: 220px;
    z-index: 10;
	border-radius: 6px;
	top: 90%;
}
.menu-links .nav > li .sub-menu li {
    border-bottom: 1px dashed #e4e4e4;
    position: relative;
}
.menu-links .nav > li .sub-menu li a {
    color: #303030;
    display: block;
    font-size: 14px;
    padding: 8px 20px;
    text-transform: capitalize;
    transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
	font-weight: 400;
	font-family: Rubik;
}
.menu-links .nav > li .sub-menu li a:hover {
    background-color: #F2F2F2;
    color: #EFBB20;
    text-decoration: none;
}
.menu-links .nav > li .sub-menu li:hover > a {
    color: #EFBB20;
}
.menu-links .nav > li .sub-menu li:last-child {
    border-bottom: 0px;
}
.menu-links .nav > li .sub-menu li > .sub-menu.left,
.menu-links .nav > li .sub-menu li:hover .sub-menu.left {
    left: auto;
    right: 220px;
}
.menu-links .nav > li .sub-menu li .fa {
    color: inherit;
    display: block;
    float: right;
    font-size: 15px;
    position: absolute;
    right: 15px;
    top: 12px;
	opacity: 1;
}
.menu-links .nav > li .sub-menu li .fa.fa-nav {
	color: inherit;
    display: inline-block;
    float: none;
    font-size: 13px;
    margin-right: 5px;
    opacity: 1;
    position: unset;
    right: 10px;
    top: 12px;
}
.menu-links .nav > li .sub-menu li > .sub-menu {
    left: 220px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.menu-links .nav > li .sub-menu li:hover > .sub-menu {
    left: 220px;
    margin: 0px;
    opacity: 1;
    top: -1px;
    visibility: visible;
}
.menu-links .nav > li .sub-menu li:hover > .sub-menu:before {
    background-color: transparent;
    bottom: 0px;
    content: '';
    display: block;
    height: 100%;
    left: -6px;
    position: absolute;
    top: 0px;
    width: 6px;
}
/*=================================
	5. MEGA MENU
=================================*/
.menu-links .nav > li.has-mega-menu {
    position: inherit;
}
.menu-links .nav > li .mega-menu {
    background-color: #ffffff;
    border: 1px solid #f8f8f8;
    display: table;
    left: 0px;
    list-style: none;
    opacity: 0;
    position: absolute;
    right: 0px;
    visibility: hidden;
    width: 100%;
	font-family: Montserrat;
    margin-top: 20px;
	z-index: 9;
}
.menu-links .nav > li .mega-menu > li {
    display: table-cell;
    padding: 30px 0 25px;
    position: relative;
    vertical-align: top;
    width: 25%;
}
.menu-links .nav > li .mega-menu > li:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.02);
    position: absolute;
    right: 0px;
    top: 0px;
    display: block;
    width: 1px;
    height: 100%;
}
.menu-links .nav > li .mega-menu > li:last-child:after {
    display: none;
}
.menu-links .nav > li .mega-menu > li > a {
    color: #000;
    display: block;
    font-size: 14px;
    padding: 0 20px;
	font-size: 13px;
    font-weight: 600;
}
.menu-links .nav > li .mega-menu > li ul {
    list-style: none;
    margin: 10px 0px 0px 0px;
    padding: 0px;
    width: 100%;
}
.menu-links .nav > li .mega-menu > li ul a {
    color: #505050;
    display: block;
    font-size: 13px;
    line-height: 34px;
    text-transform: capitalize;
    padding: 0 20px;
	font-weight: 500;
}
.menu-links .nav > li .mega-menu > li ul a:hover {
    color: #EFBB20;
}
.menu-links .nav .mega-menu a i {
    font-size: 14px;
    margin-right: 5px;
    text-align: center;
    width: 15px;
}
.menu-links .nav > li.menu-item-has-children:before {
    content: "\f078";
    display: block;
    font-family: "FontAwesome";
    right: 4px;
    position: absolute;
    top: 50%;
    color: #999;
    margin-top: -8px;
    font-size: 8px;
}
/* Menu */
.menu-links .nav > li.add-mega-menu .mega-menu,
.has-mega-menu.add-mega-menu .mega-menu{
	display: block;
	padding: 20px;
	width: 1170px;
	max-width: 1170px;
	margin: auto;
}
.menu-links .nav > li .add-menu{
    display: flex;
	/* width:420px; */
	width: 520px;
}
.add-menu-left{
    /* width: 100%; */
	width: 100%;
	padding-left: 20px;
	border-bottom:0 !important;
}
/* .add-menu-right{
    min-width: 240px;
    width: 240px;
    padding: 10px 20px;
} */
.add-menu-right{
    width: 100%;
    padding-left: 20px;
}
.menu-links .nav > li.has-mega-menu.demos .mega-menu{
	left:auto;
	right:auto;
	max-width: 600px;
	z-index: 9;
}
.menu-links .nav .add-menu-left ul li{
	list-style:none;
}
.menu-links .nav .add-menu-left ul li a{
	padding: 8px 0px;
}
.menu-links .nav .add-menu-left ul li a:hover{
	background-color:rgba(0,0,0,0);
}
.menu-adv-title{
	font-size: 16px;
	text-transform: capitalize;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	position: relative;
}
.menu-adv-title:after{
	content: "";
	width: 25px;
	height: 2px;
	display: block;
	background: #000;
	position: absolute;
	bottom: 0;
	left: 0;
}
.menu-links .menu-logo,
.menu-links .nav-social-link{
	display:none;
}
/* Header Extra Nav */
.secondary-inner ul{
	list-style:none;
	padding:0;
	margin:0;
}
.secondary-inner ul li{
	display:inline-block;
	position:relative;
}
.secondary-inner ul li a{
	color:#000;
}
.search-btn{
	padding-left:10px;
	margin-left:10px;
}
.search-btn:after{
	left:0;
	right:auto;
	top: 5px;
}
.search-btn .btn-link i{
	margin-left: 5px;
}
@media only screen and (max-width: 991px) {
	.add-menu-left ul{
		display: block !important;
	}
	.menu-links .menu-logo,
	.menu-links .nav-social-link{
		display:block;
	}
	.menu-links .nav-social-link{
		margin-top: auto;
		text-align: center;
		width: 100%;
		padding: 10px 0;
		background: #fff;	
	}
	.menu-links .nav-social-link a{
		color:#000;
		padding:5px 10px;
	}
	.menu-links .nav > li.has-mega-menu.demos .mega-menu{
		max-width:100%;
	}
	.menu-links .nav > li .mega-menu{
		border:0;
	}
	.menu-links .nav > li .mega-menu > li{
		padding:10px 0;
	}
	.menu-links .nav > li .sub-menu,
	.menu-links .nav > li .mega-menu {
		border-radius:0;
		border-width: 1px 0 1px 0;
	}
    .menu-links .nav i {
        margin-top: 6px;
		float: right;
    }
    .menu-links {
        clear: both;
        margin: 0 -15px;
        border-bottom: 1px solid #E9E9E9;
    }
    .menu-links .nav {
        float: none;
        background: #fff;
		width:100%;
		display: block;
		margin-bottom: auto;
    }
    .menu-links .nav li {
        float: none;
		display:block;
		width:100%;
    }
    .menu-links .nav > li .sub-menu > li,
    .menu-links .nav > li .mega-menu > li {
        float: none;
        display: block;
        width: auto;
    }
    .menu-links .nav > li > a {
        padding: 10px 15px;
        border-top: 1px dashed #E9E9E9;
		display:block;
    }
    .menu-links .nav > li > a:hover,
    .menu-links .nav > li > a:active,
    .menu-links .nav > li > a:focus {
        background-color: #f0f0f0;
        text-decoration: none;
    }
    .menu-links .nav > li .mega-menu > li:after {
        display: none;
    }
    .menu-links .nav > li ul,
    .menu-links .nav > li .sub-menu,
    .menu-links .nav > li .mega-menu {
        display: none;
        position: static;
        visibility: visible;
        width: auto;
        background: transparent;
    }
    .menu-links .nav > li ul.mega-menu ul {
        display: none;
    }
    .menu-links .nav > li:hover > ul,
    .menu-links .nav > li:hover .sub-menu,
    .menu-links .nav > li:hover .mega-menu,
    .menu-links .nav > li .sub-menu li > .sub-menu {
        opacity: 1;
        visibility: visible;
        display: block;
        margin: 0;
    }
    .menu-links .nav > li ul.mega-menu li:hover ul {
        display: block;
    }
    .side-nav .nav.navbar-nav li a i.fa-chevron-down:before,
    .nav.navbar-nav li a i.fa-chevron-down:before {
		content:"\f078";
	}
	.side-nav .nav.navbar-nav li.open a i.fa-chevron-down:before,
	.nav.navbar-nav li.open a i.fa-chevron-down:before {
		content:"\f054";
	}
	.menu-links .nav > li .sub-menu li i.fa-angle-right:before{
		content: "\f078";
		font-size: 10px;
		position: absolute;
		z-index: 2;
		color: #000;
		right: 20px;
		top: -5px;
	}
	.menu-links .nav > li .sub-menu li.open i.fa-angle-right:before{
		content: "\f054";
	}
    .menu-links .nav > li .sub-menu .sub-menu,
    .menu-links .nav > li:hover .sub-menu .sub-menu,
    .menu-links .nav > li:hover .sub-menu,
    .menu-links .nav > li:hover .mega-menu {
        display: none;
        opacity: 1;
        margin-top: 0;
    }
	.menu-links .nav li .sub-menu .sub-menu{
		display: none;
        opacity: 1;
        margin-top: 0;
	}
	.menu-links .nav > li.open > .sub-menu .sub-menu{
		display: none;
	}
	.menu-links .nav > li.open > .sub-menu li.open .sub-menu,
    .menu-links .nav > li.open > .mega-menu,
    .menu-links .nav > li.open > .sub-menu,
	.menu-links .nav > li ul.mega-menu ul{
        display: block;
        opacity: 1;
        margin-top: 0;
		box-shadow: none;
    }
	.menu-links .nav > li:hover > a:after{
		content:none;
	}
	.menu-links .nav > li .sub-menu li .fa{
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		margin: 0;
		right: -1px;
		color:#000;
	}
	.menu-links .nav > li .mega-menu > li{
		padding:0;
	}
	.menu-links .nav > li .mega-menu > li > a{
		display:none;
	}
	.menu-links .nav .mega-menu a i{
		display:inline-block;
		float:none;
		margin-top: 0;
	}
    .menu-links .nav .open > a,
    .menu-links .nav .open > a:focus,
    .menu-links .nav .open > a:hover {
        background-color: inherit;
        border-color: #e9e9e9;
    }
}
@media screen and (max-width: 991px){
	.rs-nav .menu-links.nav-dark{
		background-color:#202020;
	}
	.rs-nav .menu-links{
		position: fixed;
		width: 60px;
		left:-280px;
		height:100vh !important;
		transition:all 0.5s;
		-webkit-transition:all 0.5s;
		-moz-transition:all 0.5s;
		-o-transition:all 0.5s;
		top:0;
		background-color:#fff;
		margin:0;
		z-index:99;
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
	}
	.rs-nav .menu-links li.open a{
		position:relative;
	}
	.navbar-nav{
		height:auto;
	}
	.rs-nav .menu-links.show {
		left: -1px;
		transition:all 0.8s;
		-webkit-transition:all 0.8s;
		-moz-transition:all 0.8s;
		-o-transition:all 0.8s;
		margin:0;
		width: 100%;
		width: 300px;
		padding: 15px 15px 5px 15px;
	}
	.rs-nav .is-fixed .menu-links .nav{
		height:auto;
	}
	.rs-nav .navbar-toggler.open:after{
		background-color: rgba(0, 0, 0, 0.6);
		content: "";
		height: 100%;
		left: 0;
		position: fixed;
		right: 0px;
		top: -20px;
		transform: scale(100);
		-o-transform: scale(100);
		-moz-transform: scale(100);
		-webkit-transform: scale(100);
		width: 100%;
		z-index: -1;
		transition: all 0.5s;
		transform-origin: top right;
		margin: 0 0px 0px 10px;
		box-shadow: 0 0 0 500px rgba(0,0,0,0.6);
	}
	.rs-nav .menu-links .menu-logo {
		display: block;
		float: none;
		height: auto;
		max-width: 100%;
		padding: 20px 15px;
		width: 100%;
		text-align:center;
	}
	.rs-nav .menu-links .menu-logo img{
		max-width: unset;
		width: 130px;
		vertical-align: middle;
	}
	.rs-nav .menu-links .menu-logo a{
		display:inline-block;
	}
	.rs-nav .navbar-toggler.open span{
		background:#fff;
	}
}
.sticky-no .menu-bar {
    position: static !important;
}
.is-fixed .menu-bar {
    position: fixed;
    top: 0;
    left: 0;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.is-fixed .menu-links .nav > li > a {
    padding: 25px 12px;
}
.is-fixed .secondary-menu {
    padding: 21px 0;
}
@media only screen and (max-width: 991px) {
    .is-fixed .menu-links .nav > li > a {
        padding: 10px 15px;
    }
}
@media only screen and (max-width: 767px) {
    .is-fixed .menu-links .nav {
        height: 225px;
    }
    .is-fixed .menu-links .nav > li > a {
        padding: 10px 15px;
    }
}
/*=================================
	6. HEADER TRANSPARENT
=================================*/
/* .header-transparent{
	position:absolute;
	width:100%;
} */
.header-transparent .menu-bar{
	height: 200px;
	background-color:inherit;
	/* border-bottom: 1px solid rgba(255,255,255,0.05); */
}
.header-transparent .menu-links .nav > li > a{
	color:#fff;
}
.header-transparent .menu-links .nav > li > a,
.header-transparent .secondary-menu .btn-link,
.header-transparent .navbar-toggler{
    color: #0f0f0f;
}
/* .header-transparent .secondary-menu .btn-link:hover{
	color:var(--primary);
} */
.header-transparent .navbar-toggler span{
    background-color: #181717;
}

.header-transparent .top-bar{
	background-color: rgba(0,0,0,0);
	border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    color: #dfdfdf;
}
.header-transparent .search-btn:after,
.header-transparent .topbar-left ul li:after,
.header-transparent .topbar-right ul li:after{
	background-color:#fff;
}
.fullwidth .container-fluid{
	padding-left: 30px;
    padding-right: 30px;
}
.onepage .navbar{
	margin-bottom:0;
	border:0;
}
.header-transparent .header-lang-bx .btn{
	background-color: transparent !important;
	color:#fff;	
} 
.header-transparent .topbar-right .header-lang-bx ul li a{
	color:#000;	
}
.header-transparent .topbar-left ul li a, 
.header-transparent .topbar-right ul li a{
	color:#fff;	
}
@media only screen and (max-width: 991px) {
	.header-transparent .menu-links .nav > li > a{
		color:#000;
	}
	.header-transparent .menu-links.nav-dark .nav > li > a{
		color:#fff;
	}
}
@media only screen and (max-width: 767px) {
	.fullwidth .container-fluid{
		padding-left: 15px;
		padding-right: 15px;
	}
}
/*=================================
	7. MENU ICON
=================================*/
.menuicon{
  color:rgba(0, 0, 0, 0.02);
  width: 20px;
  height: 14px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.menuicon span{
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.menuicon span:nth-child(1) {
  top: 0px;
}
.menuicon span:nth-child(2) {
  top: 50%;
  transform:translateY(-50%)
}
.menuicon span:nth-child(3) {
  bottom: 0;
}
.menuicon.open span:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.menuicon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.menuicon.open span:nth-child(3) {
  top: 7px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/*========================
	8. PAGE BANNER
=========================*/
.page-banner {
    height: 300px;
    background-size: cover;
    background-position: center center;
    display: table;
    width: 100%;
	text-align:left;
}
.page-banner .container {
    display: table;
    height: 100%;
}
.page-banner-entry {
    display: table-cell;
    vertical-align: middle;
	text-align: center;
}
.page-banner-entry.align-m {
    vertical-align: middle;
}
.page-banner h1 {
	font-weight:600;
	font-size:40px;
	margin-bottom: 0;
}
.breadcrumb-row ul li a{
	color:#000;
}
@media only screen and (max-width: 767px) {
	.page-banner-entry{
		vertical-align: middle;
	}
	.page-banner{
		padding-bottom: 0;
		height: 200px;
	}
	.page-banner h1{
		line-height: 24px;
		font-size: 20px;
		text-align:center;
	}
}
/*========================
	12. FOOTER
=========================*/

/* scroll top btn css */
button.back-to-top {
    border-radius: 4px;
    border-style: solid;
    border-width: 0;
    bottom: 15px;
    box-shadow: 2px 2px 12px -5px #000000;
    color: #fff;
    cursor: pointer;
    display: none;
    height: 40px;
    line-height: 26px;
    margin: 0;
    position: fixed;
    right: 15px;
    text-align: center;
    width: 40px;
    z-index: 999;
}
/* Footer Extra */

/*==== LOADING ====*/
#loading-icon-bx {
    width: 100%;
    height: 100%;
    background-color: #faf5f5;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 999999999;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
}
/*========================
	13. INNER CONTENT CSS
=========================*/
/* About Section */
.service-info-bx{
	margin-top: -215px;
}
.service-bx{
	box-shadow:0 0 25px 0 rgba(29,25,0,0.25);
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	position:relative;
	background-color:#fff;
}
.service-bx [class*="feature-"]{
	box-shadow: 0 0 25px 0 rgba(29,25,0,0.15);
	margin-top: -30px;
	position: relative;
	top: -40px;
	margin-bottom: -20px;
}
.service-bx .info-bx{
	padding:30px;
}
.service-bx:hover{
	transform:translateY(-15px);
	-moz-transform:translateY(-15px);
	-webkit-transform:translateY(-15px);
	-ms-transform:translateY(-15px);
	-o-transform:translateY(-15px);
}
/* Recent News */

/* heading-bx */
.heading-bx.left .title-head{
	margin-bottom: 10px;
    margin-top: 0;
    line-height: 32px;
    padding-left: 10px;
    border-left: 5px solid var(--primary);
}
.heading-bx.left p{
	max-width:500px;
	margin-bottom:0;
}
.title-head span{
	font-weight:400;
}
/* section space */
/* .section-sp1{
	padding-top:80px;
	padding-bottom:50px;
} */

/* Event Box */
.event-bx{
	box-shadow:0 0 15px 0 rgba(29,25,0,0.25);
}

.upcoming-event-carousel .item{
	padding:15px;
}
.event-bx .info-bx{
	padding:30px;
}
.event-time{
	color: #fff;
    background-color: var(--primary);
    text-align: center;
    padding: 15px 10px;
    border-radius: 4px;
    margin-right: 20px;
}
.event-time .event-date{
	font-size: 55px;
    font-family: rubik;
    font-weight: 700;
    line-height: 55px;
}
.event-info .event-title{
	font-family:rubik;
	font-weight:500;
	margin-bottom:5px;
	font-size:24px;
}
.event-info .media-post{
	margin-bottom:10px;
}
.event-info .media-post li a{
	text-transform: capitalize;
    font-size: 14px;
}
.event-info p{
    margin-bottom: 0;
    font-family: rubik;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.curriculum-list ul li,ol li
.curriculum-list{
	margin:0;
	padding:0;
	list-style:none;
}
.curriculum-list ul li, ol li{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 0px 0px;
	font-size: 15px;
}
.curriculum-list_for_tel ul li{
	display: flex;
	justify-content:flex-start;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 10px 20px;
	font-size: 15px;
}
.curriculum-list > li{
	margin-bottom:30px;
}
.curriculum-list_for_tel h2 {
	font-size: 34px;
	font-weight: 500;
	color:var(--primary);
	margin-bottom: 0px;
	text-transform: uppercase;
}
.curriculum-list h5{
	font-size: 14px;
	font-weight: 500;
	color:var(--primary);
	margin-bottom: 0px;
	text-transform: uppercase;
}
.curriculum-list h2{
	font-size: 34px;
	font-weight: 500;
	color:var(--primary);
	margin-bottom: 0px;
	text-transform: uppercase;
}
.curriculum-list h3{
	font-weight: 500;
	color:var(--primary);
	margin-bottom: 0px;
	text-transform: uppercase;
}
.curriculum-list p{
	text-align: justify;
}

/* .g-recaptcha {
  transform-origin: left top;
} */
/* Google Recaptcha */
 
@media screen and (max-width: 575px){
}

/* Google Recaptcha */
/* error */

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 767px) {
	
}
@media only screen and (max-width: 576px) {
	
	.rev-btn{
		padding:10px 15px !important;
	}
	
}


/* for the example page */

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand span {
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 32px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  top: -10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}



/* end footer section*/
/*# sourceMappingURL=style.css.map */